.myscroll {
  max-height:500px;
  height:500px;
  overflow-y: scroll;
  border: 1px solid #000;
  background-color: rgba(0,0,255,.1);
  overflow:scroll;
}

.container {
  height:500px;
  background-color: rgba(255,255,0,.1);
}
